<%- include ('./header') %>

<div class="container m-5">
  <div class="text-center alert alert-success">
    Arquivo enviado com sucesso.
  </div>
  <a href='/' class="btn btn-primary">Voltar</a>
</div>
